body
{
    font-family: Candara;
}

#wraper
{
    width: 1200px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

#header
{
    width: 100%;
}

#leftNav
{
    width: 250px;
    float: left;
    overflow: hidden;
}

#content
{
    width: 640px;
    min-height: 400px;
    float: left;
    padding: 5px;
    overflow: hidden;
}

#rightNav
{
    width: 320px;
    float: right;
    overflow: hidden;
    font-family: Verdana;
    font-size: 12px;
    padding: 3px;
    padding-top: 10px;
    top: 0px;
    position: fixed;
    right: 10px;
    box-shadow: 0px 0px 4px 1px;
    height: 150px;
}

#footer
{
    clear: both;
    overflow: hidden;
}
