body {
}

#LeftMenuWrap
{
    padding: 5px;
}

#LeftMenuWrap .Item
{
    
    
}

#LeftMenuWrap .Link a
{
    text-decoration: none;
    color: Green;
    font-size: 20px;
}

#LeftMenuWrap .Link a:hover
{
    text-decoration: underline;
}
