body 
{
    font-family: Candara;
}

#wraper
{
    width: 1200px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

#header
{
    width: 100%;
    background-color: Aqua;
}

#leftNav
{
    width: 250px;
    float: left;
    overflow: hidden;
}

#content
{
    width: 640px;
    min-height: 400px;
    float: left;
    padding: 5px;
    overflow: hidden;
}

#rightNav
{
    width: 300px;
    float: right;
    overflow: hidden;
    font-family: Verdana;
    font-size: 12px;
}

#footer
{
    clear: both;
    overflow: hidden;
    background-color: Orange;
}
